// put your custom CSS here!

.page {
   max-width: 100%;
   & > #quartz-body {
       & .sidebar {
         gap: 1rem;
         padding: 1rem;
       }
   }
}

.recent-notes {
  & > h3 {
    margin: 0;
  }
}