// put your custom CSS here!

@use "../../../quartz/styles/variables.scss" as *;
@use "../components/styles/PageTitleDarkmode.scss";

.page {
   max-width: 100%;
   & > #quartz-body {
       & .sidebar {
         gap: 1rem;
         padding: 1rem;
         & .sidebar.right {
            display: flex;
            flex-direction: column;
            overflow: auto;
          }
       }
   }
}

.recent-notes {
  & > h3 {
    margin: 0;
  }
}


.toc {
  &.desktop-only {
    max-height: unset;
    height: 40%;
    flex-grow: 1;
  }

  @media all and not ($desktop) {
    display: block;
    max-height: 15rem;
    overflow: auto;
    width: 100%;
  }
}

.page-title {
  white-space: normal;
  overflow-wrap: break-word;
}

.dino-item {
  
}

