// put your custom CSS here!

@use "../../../quartz/styles/variables.scss" as *;
@use "../components/styles/PageTitleDarkmode.scss";


.page {
  max-width: 100%;

  &>#quartz-body {
    & .sidebar {
      gap: 1rem;
      padding: 1rem;
    }
  }
}
.recent-tag-notes {
  flex-shrink: 1;
}

.recent-notes {
  &>h3 {
    margin: 0;
  }
  & > ul.recent-ul {
    & > li {
      .section > .desc > h3 > a {
        font-size: 1rem;
      }
    }
  }
}

.toc {
  &.desktop-only {
    max-height: unset;
    min-height: 18rem;
    height: unset;
    flex-grow: 1;
  }
}

#toc-content {
  @media all and not ($desktop) {
    max-height: 15rem;
  }
}

.page-title {
  white-space: normal;
  overflow-wrap: break-word;
}

.backlinks {
  & > .overflow {
    @media all and not ($desktop) {
      height: auto;
    }
  }
}